#square {
	width: auto; /* largura  */
	height: auto; /* altura  */
	border-style: dotted; /* estilo da borda: solid, etc  */
	border-width: 2px; /* largura da borda */
	border-color: purple; /* cor da borda */

	background-color: lavender; /* cor de fundo */

/*          top  rigth bottom left */
	margin: 100px 150px 10px 180px;

/* margin com um valor atribui um único valor igual para todos */
/* margin-right controla a margem da direita */
/* margin-left controla a margem  da esquerda*/
/* margin-top controla a margem entre o quadrado e o elemento acima */ 
/* margin-bottom controla a margem entre o quadrado e o elemento abaixo*/

	padding-top: 40px;
	padding-right: 60px;
	padding-bottom: 30px;
	padding-left: 40px;

/* padding: 100px; -> todos os valores de uma vez */
/* padding: 40px 60px 30px 40px */

text-align: center;

}

#circle {
	width: 200px;
	height: 200px;

	border: solid 7px plum;
	border-radius: 170px;

	text-align: center;


}
